<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FacadePattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B314CAC81EB2C1FA00C37D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B314CAE11EB2C1FB00C37D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B314CAEC1EB2C1FB00C37D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
